@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Noto+Serif+HK:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lora", serif;
  font-family: "Noto Serif HK", serif;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container-sm {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container-md {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container-lg {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container-xl {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.container-xxl {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }
  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }
  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }
  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }
  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }
  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }
  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }
  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }
  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }
  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }
  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }
  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
.text-primary {
  color: #0275d8;
}

.bg-primary {
  background-color: #0275d8;
}

.text-secondary {
  color: #7c8184;
}

.bg-secondary {
  background-color: #7c8184;
}

.text-success {
  color: #5cb85c;
}

.bg-success {
  background-color: #5cb85c;
}

.text-warning {
  color: #f0ad4e;
}

.bg-warning {
  background-color: #f0ad4e;
}

.text-danger {
  color: #d9534f;
}

.bg-danger {
  background-color: #d9534f;
}

.text-faded {
  color: #f7f7f7;
}

.bg-faded {
  background-color: #f7f7f7;
}

.text-dark {
  color: #292b2c;
}

.bg-dark {
  background-color: #292b2c;
}

.text-green {
  color: #19e635;
}

.bg-green {
  background-color: #19e635;
}

.text-orange {
  color: #ffa600;
}

.bg-orange {
  background-color: #ffa600;
}

.text-purple {
  color: #9900ff;
}

.bg-purple {
  background-color: #9900ff;
}

.text-gray {
  color: #808080;
}

.bg-gray {
  background-color: #808080;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-primary-light-1 {
  color: #288ade;
}

.bg-primary-light-1 {
  background-color: #288ade;
}

.text-primary-light-2 {
  color: #4e9ee4;
}

.bg-primary-light-2 {
  background-color: #4e9ee4;
}

.text-primary-light-3 {
  color: #74b3ea;
}

.bg-primary-light-3 {
  background-color: #74b3ea;
}

.text-primary-light-4 {
  color: #9ac8ef;
}

.bg-primary-light-4 {
  background-color: #9ac8ef;
}

.text-primary-light-5 {
  color: #c0ddf5;
}

.bg-primary-light-5 {
  background-color: #c0ddf5;
}

.text-secondary-light-1 {
  color: #909496;
}

.bg-secondary-light-1 {
  background-color: #909496;
}

.text-secondary-light-2 {
  color: #a3a7a9;
}

.bg-secondary-light-2 {
  background-color: #a3a7a9;
}

.text-secondary-light-3 {
  color: #b7babb;
}

.bg-secondary-light-3 {
  background-color: #b7babb;
}

.text-secondary-light-4 {
  color: #cbcdce;
}

.bg-secondary-light-4 {
  background-color: #cbcdce;
}

.text-secondary-light-5 {
  color: #dee0e0;
}

.bg-secondary-light-5 {
  background-color: #dee0e0;
}

.text-success-light-1 {
  color: #74c374;
}

.bg-success-light-1 {
  background-color: #74c374;
}

.text-success-light-2 {
  color: #8dcd8d;
}

.bg-success-light-2 {
  background-color: #8dcd8d;
}

.text-success-light-3 {
  color: #a5d8a5;
}

.bg-success-light-3 {
  background-color: #a5d8a5;
}

.text-success-light-4 {
  color: #bee3be;
}

.bg-success-light-4 {
  background-color: #bee3be;
}

.text-success-light-5 {
  color: #d6edd6;
}

.bg-success-light-5 {
  background-color: #d6edd6;
}

.text-warning-light-1 {
  color: #f2b969;
}

.bg-warning-light-1 {
  background-color: #f2b969;
}

.text-warning-light-2 {
  color: #f5c683;
}

.bg-warning-light-2 {
  background-color: #f5c683;
}

.text-warning-light-3 {
  color: #f7d29e;
}

.bg-warning-light-3 {
  background-color: #f7d29e;
}

.text-warning-light-4 {
  color: #f9deb8;
}

.bg-warning-light-4 {
  background-color: #f9deb8;
}

.text-warning-light-5 {
  color: #fbebd3;
}

.bg-warning-light-5 {
  background-color: #fbebd3;
}

.text-danger-light-1 {
  color: #df6d69;
}

.bg-danger-light-1 {
  background-color: #df6d69;
}

.text-danger-light-2 {
  color: #e48784;
}

.bg-danger-light-2 {
  background-color: #e48784;
}

.text-danger-light-3 {
  color: #eaa09e;
}

.bg-danger-light-3 {
  background-color: #eaa09e;
}

.text-danger-light-4 {
  color: #f0bab9;
}

.bg-danger-light-4 {
  background-color: #f0bab9;
}

.text-danger-light-5 {
  color: #f6d4d3;
}

.bg-danger-light-5 {
  background-color: #f6d4d3;
}

.text-faded-light-1 {
  color: #f8f8f8;
}

.bg-faded-light-1 {
  background-color: #f8f8f8;
}

.text-faded-light-2 {
  color: #f9f9f9;
}

.bg-faded-light-2 {
  background-color: #f9f9f9;
}

.text-faded-light-3 {
  color: #fbfbfb;
}

.bg-faded-light-3 {
  background-color: #fbfbfb;
}

.text-faded-light-4 {
  color: #fcfcfc;
}

.bg-faded-light-4 {
  background-color: #fcfcfc;
}

.text-faded-light-5 {
  color: #fdfdfd;
}

.bg-faded-light-5 {
  background-color: #fdfdfd;
}

.text-dark-light-1 {
  color: #494b4c;
}

.bg-dark-light-1 {
  background-color: #494b4c;
}

.text-dark-light-2 {
  color: #696b6b;
}

.bg-dark-light-2 {
  background-color: #696b6b;
}

.text-dark-light-3 {
  color: #898a8b;
}

.bg-dark-light-3 {
  background-color: #898a8b;
}

.text-dark-light-4 {
  color: #a9aaab;
}

.bg-dark-light-4 {
  background-color: #a9aaab;
}

.text-dark-light-5 {
  color: #cacaca;
}

.bg-dark-light-5 {
  background-color: #cacaca;
}

.text-green-light-1 {
  color: #3cea53;
}

.bg-green-light-1 {
  background-color: #3cea53;
}

.text-green-light-2 {
  color: #5eee72;
}

.bg-green-light-2 {
  background-color: #5eee72;
}

.text-green-light-3 {
  color: #81f190;
}

.bg-green-light-3 {
  background-color: #81f190;
}

.text-green-light-4 {
  color: #a3f5ae;
}

.bg-green-light-4 {
  background-color: #a3f5ae;
}

.text-green-light-5 {
  color: #c6f9cd;
}

.bg-green-light-5 {
  background-color: #c6f9cd;
}

.text-orange-light-1 {
  color: #ffb326;
}

.bg-orange-light-1 {
  background-color: #ffb326;
}

.text-orange-light-2 {
  color: #ffc14d;
}

.bg-orange-light-2 {
  background-color: #ffc14d;
}

.text-orange-light-3 {
  color: #ffce73;
}

.bg-orange-light-3 {
  background-color: #ffce73;
}

.text-orange-light-4 {
  color: #ffdb99;
}

.bg-orange-light-4 {
  background-color: #ffdb99;
}

.text-orange-light-5 {
  color: #ffe9bf;
}

.bg-orange-light-5 {
  background-color: #ffe9bf;
}

.text-purple-light-1 {
  color: #a826ff;
}

.bg-purple-light-1 {
  background-color: #a826ff;
}

.text-purple-light-2 {
  color: #b84dff;
}

.bg-purple-light-2 {
  background-color: #b84dff;
}

.text-purple-light-3 {
  color: #c773ff;
}

.bg-purple-light-3 {
  background-color: #c773ff;
}

.text-purple-light-4 {
  color: #d699ff;
}

.bg-purple-light-4 {
  background-color: #d699ff;
}

.text-purple-light-5 {
  color: #e6bfff;
}

.bg-purple-light-5 {
  background-color: #e6bfff;
}

.text-gray-light-1 {
  color: #939393;
}

.bg-gray-light-1 {
  background-color: #939393;
}

.text-gray-light-2 {
  color: #a6a6a6;
}

.bg-gray-light-2 {
  background-color: #a6a6a6;
}

.text-gray-light-3 {
  color: #b9b9b9;
}

.bg-gray-light-3 {
  background-color: #b9b9b9;
}

.text-gray-light-4 {
  color: #cccccc;
}

.bg-gray-light-4 {
  background-color: #cccccc;
}

.text-gray-light-5 {
  color: #dfdfdf;
}

.bg-gray-light-5 {
  background-color: #dfdfdf;
}

.text-white-light-1 {
  color: white;
}

.bg-white-light-1 {
  background-color: white;
}

.text-white-light-2 {
  color: white;
}

.bg-white-light-2 {
  background-color: white;
}

.text-white-light-3 {
  color: white;
}

.bg-white-light-3 {
  background-color: white;
}

.text-white-light-4 {
  color: white;
}

.bg-white-light-4 {
  background-color: white;
}

.text-white-light-5 {
  color: white;
}

.bg-white-light-5 {
  background-color: white;
}

.text-black-light-1 {
  color: #262626;
}

.bg-black-light-1 {
  background-color: #262626;
}

.text-black-light-2 {
  color: #4d4d4d;
}

.bg-black-light-2 {
  background-color: #4d4d4d;
}

.text-black-light-3 {
  color: #737373;
}

.bg-black-light-3 {
  background-color: #737373;
}

.text-black-light-4 {
  color: #999999;
}

.bg-black-light-4 {
  background-color: #999999;
}

.text-black-light-5 {
  color: #bfbfbf;
}

.bg-black-light-5 {
  background-color: #bfbfbf;
}

.text-primary-dark-1 {
  color: #025ead;
}

.bg-primary-dark-1 {
  background-color: #025ead;
}

.text-primary-dark-2 {
  color: #014682;
}

.bg-primary-dark-2 {
  background-color: #014682;
}

.text-primary-dark-3 {
  color: #012f56;
}

.bg-primary-dark-3 {
  background-color: #012f56;
}

.text-primary-dark-4 {
  color: #00172b;
}

.bg-primary-dark-4 {
  background-color: #00172b;
}

.text-primary-dark-5 {
  color: black;
}

.bg-primary-dark-5 {
  background-color: black;
}

.text-secondary-dark-1 {
  color: #63676a;
}

.bg-secondary-dark-1 {
  background-color: #63676a;
}

.text-secondary-dark-2 {
  color: #4a4d4f;
}

.bg-secondary-dark-2 {
  background-color: #4a4d4f;
}

.text-secondary-dark-3 {
  color: #323435;
}

.bg-secondary-dark-3 {
  background-color: #323435;
}

.text-secondary-dark-4 {
  color: #191a1a;
}

.bg-secondary-dark-4 {
  background-color: #191a1a;
}

.text-secondary-dark-5 {
  color: black;
}

.bg-secondary-dark-5 {
  background-color: black;
}

.text-success-dark-1 {
  color: #4a934a;
}

.bg-success-dark-1 {
  background-color: #4a934a;
}

.text-success-dark-2 {
  color: #376e37;
}

.bg-success-dark-2 {
  background-color: #376e37;
}

.text-success-dark-3 {
  color: #254a25;
}

.bg-success-dark-3 {
  background-color: #254a25;
}

.text-success-dark-4 {
  color: #122512;
}

.bg-success-dark-4 {
  background-color: #122512;
}

.text-success-dark-5 {
  color: black;
}

.bg-success-dark-5 {
  background-color: black;
}

.text-warning-dark-1 {
  color: #c08a3e;
}

.bg-warning-dark-1 {
  background-color: #c08a3e;
}

.text-warning-dark-2 {
  color: #90682f;
}

.bg-warning-dark-2 {
  background-color: #90682f;
}

.text-warning-dark-3 {
  color: #60451f;
}

.bg-warning-dark-3 {
  background-color: #60451f;
}

.text-warning-dark-4 {
  color: #302310;
}

.bg-warning-dark-4 {
  background-color: #302310;
}

.text-warning-dark-5 {
  color: black;
}

.bg-warning-dark-5 {
  background-color: black;
}

.text-danger-dark-1 {
  color: #ae423f;
}

.bg-danger-dark-1 {
  background-color: #ae423f;
}

.text-danger-dark-2 {
  color: #82322f;
}

.bg-danger-dark-2 {
  background-color: #82322f;
}

.text-danger-dark-3 {
  color: #572120;
}

.bg-danger-dark-3 {
  background-color: #572120;
}

.text-danger-dark-4 {
  color: #2b1110;
}

.bg-danger-dark-4 {
  background-color: #2b1110;
}

.text-danger-dark-5 {
  color: black;
}

.bg-danger-dark-5 {
  background-color: black;
}

.text-faded-dark-1 {
  color: #c6c6c6;
}

.bg-faded-dark-1 {
  background-color: #c6c6c6;
}

.text-faded-dark-2 {
  color: #949494;
}

.bg-faded-dark-2 {
  background-color: #949494;
}

.text-faded-dark-3 {
  color: #636363;
}

.bg-faded-dark-3 {
  background-color: #636363;
}

.text-faded-dark-4 {
  color: #313131;
}

.bg-faded-dark-4 {
  background-color: #313131;
}

.text-faded-dark-5 {
  color: black;
}

.bg-faded-dark-5 {
  background-color: black;
}

.text-dark-dark-1 {
  color: #212223;
}

.bg-dark-dark-1 {
  background-color: #212223;
}

.text-dark-dark-2 {
  color: #191a1a;
}

.bg-dark-dark-2 {
  background-color: #191a1a;
}

.text-dark-dark-3 {
  color: #101112;
}

.bg-dark-dark-3 {
  background-color: #101112;
}

.text-dark-dark-4 {
  color: #080909;
}

.bg-dark-dark-4 {
  background-color: #080909;
}

.text-dark-dark-5 {
  color: black;
}

.bg-dark-dark-5 {
  background-color: black;
}

.text-green-dark-1 {
  color: #14b82a;
}

.bg-green-dark-1 {
  background-color: #14b82a;
}

.text-green-dark-2 {
  color: #0f8a20;
}

.bg-green-dark-2 {
  background-color: #0f8a20;
}

.text-green-dark-3 {
  color: #0a5c15;
}

.bg-green-dark-3 {
  background-color: #0a5c15;
}

.text-green-dark-4 {
  color: #052e0b;
}

.bg-green-dark-4 {
  background-color: #052e0b;
}

.text-green-dark-5 {
  color: black;
}

.bg-green-dark-5 {
  background-color: black;
}

.text-orange-dark-1 {
  color: #cc8500;
}

.bg-orange-dark-1 {
  background-color: #cc8500;
}

.text-orange-dark-2 {
  color: #996400;
}

.bg-orange-dark-2 {
  background-color: #996400;
}

.text-orange-dark-3 {
  color: #664200;
}

.bg-orange-dark-3 {
  background-color: #664200;
}

.text-orange-dark-4 {
  color: #332100;
}

.bg-orange-dark-4 {
  background-color: #332100;
}

.text-orange-dark-5 {
  color: black;
}

.bg-orange-dark-5 {
  background-color: black;
}

.text-purple-dark-1 {
  color: #7a00cc;
}

.bg-purple-dark-1 {
  background-color: #7a00cc;
}

.text-purple-dark-2 {
  color: #5c0099;
}

.bg-purple-dark-2 {
  background-color: #5c0099;
}

.text-purple-dark-3 {
  color: #3d0066;
}

.bg-purple-dark-3 {
  background-color: #3d0066;
}

.text-purple-dark-4 {
  color: #1f0033;
}

.bg-purple-dark-4 {
  background-color: #1f0033;
}

.text-purple-dark-5 {
  color: black;
}

.bg-purple-dark-5 {
  background-color: black;
}

.text-gray-dark-1 {
  color: #666666;
}

.bg-gray-dark-1 {
  background-color: #666666;
}

.text-gray-dark-2 {
  color: #4d4d4d;
}

.bg-gray-dark-2 {
  background-color: #4d4d4d;
}

.text-gray-dark-3 {
  color: #333333;
}

.bg-gray-dark-3 {
  background-color: #333333;
}

.text-gray-dark-4 {
  color: #1a1a1a;
}

.bg-gray-dark-4 {
  background-color: #1a1a1a;
}

.text-gray-dark-5 {
  color: black;
}

.bg-gray-dark-5 {
  background-color: black;
}

.text-white-dark-1 {
  color: #cccccc;
}

.bg-white-dark-1 {
  background-color: #cccccc;
}

.text-white-dark-2 {
  color: #999999;
}

.bg-white-dark-2 {
  background-color: #999999;
}

.text-white-dark-3 {
  color: #666666;
}

.bg-white-dark-3 {
  background-color: #666666;
}

.text-white-dark-4 {
  color: #333333;
}

.bg-white-dark-4 {
  background-color: #333333;
}

.text-white-dark-5 {
  color: black;
}

.bg-white-dark-5 {
  background-color: black;
}

.text-black-dark-1 {
  color: black;
}

.bg-black-dark-1 {
  background-color: black;
}

.text-black-dark-2 {
  color: black;
}

.bg-black-dark-2 {
  background-color: black;
}

.text-black-dark-3 {
  color: black;
}

.bg-black-dark-3 {
  background-color: black;
}

.text-black-dark-4 {
  color: black;
}

.bg-black-dark-4 {
  background-color: black;
}

.text-black-dark-5 {
  color: black;
}

.bg-black-dark-5 {
  background-color: black;
}

.navbar .container-xxl, .navber-black .container-xxl, .navber-white .container-xxl, .navber-gray .container-xxl, .navber-purple .container-xxl, .navber-orange .container-xxl, .navber-green .container-xxl, .navber-dark .container-xxl, .navber-faded .container-xxl, .navber-danger .container-xxl, .navber-warning .container-xxl, .navber-success .container-xxl, .navber-secondary .container-xxl, .navber-primary .container-xxl, .navbar .container-xl, .navber-black .container-xl, .navber-white .container-xl, .navber-gray .container-xl, .navber-purple .container-xl, .navber-orange .container-xl, .navber-green .container-xl, .navber-dark .container-xl, .navber-faded .container-xl, .navber-danger .container-xl, .navber-warning .container-xl, .navber-success .container-xl, .navber-secondary .container-xl, .navber-primary .container-xl, .navbar .container-lg, .navber-black .container-lg, .navber-white .container-lg, .navber-gray .container-lg, .navber-purple .container-lg, .navber-orange .container-lg, .navber-green .container-lg, .navber-dark .container-lg, .navber-faded .container-lg, .navber-danger .container-lg, .navber-warning .container-lg, .navber-success .container-lg, .navber-secondary .container-lg, .navber-primary .container-lg, .navbar .container-md, .navber-black .container-md, .navber-white .container-md, .navber-gray .container-md, .navber-purple .container-md, .navber-orange .container-md, .navber-green .container-md, .navber-dark .container-md, .navber-faded .container-md, .navber-danger .container-md, .navber-warning .container-md, .navber-success .container-md, .navber-secondary .container-md, .navber-primary .container-md, .navbar .container-sm, .navber-black .container-sm, .navber-white .container-sm, .navber-gray .container-sm, .navber-purple .container-sm, .navber-orange .container-sm, .navber-green .container-sm, .navber-dark .container-sm, .navber-faded .container-sm, .navber-danger .container-sm, .navber-warning .container-sm, .navber-success .container-sm, .navber-secondary .container-sm, .navber-primary .container-sm, .navbar .container, .navber-black .container, .navber-white .container, .navber-gray .container, .navber-purple .container, .navber-orange .container, .navber-green .container, .navber-dark .container, .navber-faded .container, .navber-danger .container, .navber-warning .container, .navber-success .container, .navber-secondary .container, .navber-primary .container, .navbar, .navber-black, .navber-white, .navber-gray, .navber-purple, .navber-orange, .navber-green, .navber-dark, .navber-faded, .navber-danger, .navber-warning, .navber-success, .navber-secondary, .navber-primary {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar, .navber-black, .navber-white, .navber-gray, .navber-purple, .navber-orange, .navber-green, .navber-dark, .navber-faded, .navber-danger, .navber-warning, .navber-success, .navber-secondary, .navber-primary {
  padding: 0.75rem 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.navbar .site-title, .navber-black .site-title, .navber-white .site-title, .navber-gray .site-title, .navber-purple .site-title, .navber-orange .site-title, .navber-green .site-title, .navber-dark .site-title, .navber-faded .site-title, .navber-danger .site-title, .navber-warning .site-title, .navber-success .site-title, .navber-secondary .site-title, .navber-primary .site-title {
  font-size: 1.5rem;
}
.navber-primary {
  background-color: #0275d8;
}

.navber-secondary {
  background-color: #7c8184;
}

.navber-success {
  background-color: #5cb85c;
}

.navber-warning {
  background-color: #f0ad4e;
}

.navber-danger {
  background-color: #d9534f;
}

.navber-faded {
  background-color: #f7f7f7;
}

.navber-dark {
  background-color: #292b2c;
}

.navber-green {
  background-color: #19e635;
}

.navber-orange {
  background-color: #ffa600;
}

.navber-purple {
  background-color: #9900ff;
}

.navber-gray {
  background-color: #808080;
}

.navber-white {
  background-color: white;
}

.navber-black {
  background-color: black;
}

.card {
  display: block;
  padding: 0.75rem;
  border: 1px solid #ddd;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.card .card-title {
  font-size: 1.5rem;
  padding-bottom: 0.75rem;
  font-weight: bold;
}
.card .card-body {
  font-size: 1rem;
}
.card .card-body a {
  text-decoration: underline;
}

.form {
  width: 100%;
}
.form .form-label {
  display: block;
  margin-bottom: 0.75rem;
  font-style: oblique;
  width: 100%;
}
.form .form-input {
  display: block;
  margin-bottom: 0.75rem;
  padding: 0.375rem 1.5rem;
  width: 100%;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
}

.btn-primary {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #0275d8;
}
.btn-primary:hover {
  background-color: #108ffd;
}

.btn-outline-primary {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid #0275d8;
}
.btn-outline-primary:hover {
  background-color: #0275d8;
}

.btn-secondary {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #7c8184;
}
.btn-secondary:hover {
  background-color: #969a9d;
}

.btn-outline-secondary {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid #7c8184;
}
.btn-outline-secondary:hover {
  background-color: #7c8184;
}

.btn-success {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #5cb85c;
}
.btn-success:hover {
  background-color: #80c780;
}

.btn-outline-success {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid #5cb85c;
}
.btn-outline-success:hover {
  background-color: #5cb85c;
}

.btn-warning {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #f0ad4e;
}
.btn-warning:hover {
  background-color: #f4c37d;
}

.btn-outline-warning {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid #f0ad4e;
}
.btn-outline-warning:hover {
  background-color: #f0ad4e;
}

.btn-danger {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #d9534f;
}
.btn-danger:hover {
  background-color: #e27c79;
}

.btn-outline-danger {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid #d9534f;
}
.btn-outline-danger:hover {
  background-color: #d9534f;
}

.btn-faded {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #f7f7f7;
}
.btn-faded:hover {
  background-color: white;
}

.btn-outline-faded {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid #f7f7f7;
}
.btn-outline-faded:hover {
  background-color: #f7f7f7;
}

.btn-dark {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #292b2c;
}
.btn-dark:hover {
  background-color: #424546;
}

.btn-outline-dark {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid #292b2c;
}
.btn-outline-dark:hover {
  background-color: #292b2c;
}

.btn-green {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #19e635;
}
.btn-green:hover {
  background-color: #47eb5d;
}

.btn-outline-green {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid #19e635;
}
.btn-outline-green:hover {
  background-color: #19e635;
}

.btn-orange {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #ffa600;
}
.btn-orange:hover {
  background-color: #ffb833;
}

.btn-outline-orange {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid #ffa600;
}
.btn-outline-orange:hover {
  background-color: #ffa600;
}

.btn-purple {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #9900ff;
}
.btn-purple:hover {
  background-color: #ad33ff;
}

.btn-outline-purple {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid #9900ff;
}
.btn-outline-purple:hover {
  background-color: #9900ff;
}

.btn-gray {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #808080;
}
.btn-gray:hover {
  background-color: #9a9a9a;
}

.btn-outline-gray {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid #808080;
}
.btn-outline-gray:hover {
  background-color: #808080;
}

.btn-white {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: white;
}
.btn-white:hover {
  background-color: white;
}

.btn-outline-white {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid white;
}
.btn-outline-white:hover {
  background-color: white;
}

.btn-black {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: black;
}
.btn-black:hover {
  background-color: #1a1a1a;
}

.btn-outline-black {
  text-decoration: none;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border-radius: 20px;
  border: 0;
  display: inline-block;
  background-color: #e2e2e2;
  border: 2px solid black;
}
.btn-outline-black:hover {
  background-color: black;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 0.75rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4.5rem;
}

.p-5 {
  padding: 6rem;
}

.ps-0 {
  padding-left: 0;
}

.ps-1 {
  padding-left: 0.75rem;
}

.ps-2 {
  padding-left: 1.5rem;
}

.ps-3 {
  padding-left: 3rem;
}

.ps-4 {
  padding-left: 4.5rem;
}

.ps-5 {
  padding-left: 6rem;
}

.pe-0 {
  padding-right: 0;
}

.pe-1 {
  padding-right: 0.75rem;
}

.pe-2 {
  padding-right: 1.5rem;
}

.pe-3 {
  padding-right: 3rem;
}

.pe-4 {
  padding-right: 4.5rem;
}

.pe-5 {
  padding-right: 6rem;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pt-5 {
  padding-top: 6rem;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pb-5 {
  padding-bottom: 6rem;
}

.px-0 {
  padding: 0;
}

.px-1 {
  padding: 0 0.75rem;
}

.px-2 {
  padding: 0 1.5rem;
}

.px-3 {
  padding: 0 3rem;
}

.px-4 {
  padding: 0 4.5rem;
}

.px-5 {
  padding: 0 6rem;
}

.py-0 {
  padding: 0;
}

.py-1 {
  padding: 0.75rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4.5rem 0;
}

.py-5 {
  padding: 6rem 0;
}

.m-0 {
  margin: 0;
}

.m-1 {
  margin: 0.75rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4.5rem;
}

.m-5 {
  margin: 6rem;
}

.ms-0 {
  margin-left: 0;
}

.ms-1 {
  margin-left: 0.75rem;
}

.ms-2 {
  margin-left: 1.5rem;
}

.ms-3 {
  margin-left: 3rem;
}

.ms-4 {
  margin-left: 4.5rem;
}

.ms-5 {
  margin-left: 6rem;
}

.me-0 {
  margin-right: 0;
}

.me-1 {
  margin-right: 0.75rem;
}

.me-2 {
  margin-right: 1.5rem;
}

.me-3 {
  margin-right: 3rem;
}

.me-4 {
  margin-right: 4.5rem;
}

.me-5 {
  margin-right: 6rem;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.75rem;
}

.mt-2 {
  margin-top: 1.5rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4.5rem;
}

.mt-5 {
  margin-top: 6rem;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 0.75rem;
}

.mb-2 {
  margin-bottom: 1.5rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4.5rem;
}

.mb-5 {
  margin-bottom: 6rem;
}

.mx-0 {
  margin: 0;
}

.mx-1 {
  margin: 0 0.75rem;
}

.mx-2 {
  margin: 0 1.5rem;
}

.mx-3 {
  margin: 0 3rem;
}

.mx-4 {
  margin: 0 4.5rem;
}

.mx-5 {
  margin: 0 6rem;
}

.my-0 {
  margin: 0;
}

.my-1 {
  margin: 0.75rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4.5rem 0;
}

.my-5 {
  margin: 6rem 0;
}

.o-10 {
  opacity: 0.1;
}

.o-20 {
  opacity: 0.2;
}

.o-30 {
  opacity: 0.3;
}

.o-40 {
  opacity: 0.4;
}

.o-50 {
  opacity: 0.5;
}

.o-60 {
  opacity: 0.6;
}

.o-70 {
  opacity: 0.7;
}

.o-80 {
  opacity: 0.8;
}

.o-90 {
  opacity: 0.9;
}

.o-100 {
  opacity: 1;
}

.fs-sm {
  font-size: 0.75rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg {
  font-size: 1.5rem;
}

.fs-xl {
  font-size: 2rem;
}

.fs-xxl {
  font-size: 3rem;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: right;
}

.text-left {
  text-align: start;
}

.display-f {
  display: flex;
}

.display-b {
  display: block;
}

.display-ib {
  display: inline-block;
}

.display-i {
  display: inline;
}

.display-n {
  display: none;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.w-75 {
  width: 75%;
}

.bs-solid {
  border-style: solid;
}

.bs-dashed {
  border-style: dashed;
}

.bs-dotted {
  border-style: dotted;
}

.bs-none {
  border-style: none;
}

.bw-0 {
  border-width: 0;
}

.bw-1 {
  border-width: 1px;
}

.bw-2 {
  border-width: 2px;
}

.bw-3 {
  border-width: 3px;
}

.bw-4 {
  border-width: 4px;
}

.bw-5 {
  border-width: 5px;
}

.bc-primary {
  border-color: #0275d8;
}

.bc-secondary {
  border-color: #7c8184;
}

.bc-success {
  border-color: #5cb85c;
}

.bc-warning {
  border-color: #f0ad4e;
}

.bc-danger {
  border-color: #d9534f;
}

.bc-faded {
  border-color: #f7f7f7;
}

.bc-dark {
  border-color: #292b2c;
}

.bc-green {
  border-color: #19e635;
}

.bc-orange {
  border-color: #ffa600;
}

.bc-purple {
  border-color: #9900ff;
}

.bc-gray {
  border-color: #808080;
}

.bc-white {
  border-color: white;
}

.bc-black {
  border-color: black;
}