@use 'sass:math';

@mixin btn ($bg-color : #e2e2e2) {
    text-decoration: none;
    cursor: pointer;
    padding: $base-padding $base-padding * 2;
    border-radius: $base-border-radius;
    border : 0 ;
    display: inline-block;
    background-color: $bg-color ;
}

.btn {
    @include btn;
}

@each $key , $val in $colors {
    .btn-#{$key} {
        @include btn($val);

        &:hover {
            background-color: lighten($val,10);
        }

        
    }
    .btn-outline-#{$key} {
        @include btn;
        border: 2px solid $val;

        &:hover {
            background-color: $val;
        }
    }
}