%flex-style{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar {
    @extend %flex-style;
    padding: $base-padding $base-padding * 2;
    box-shadow: $base-box-shadow;

    .site-title {
        font-size: $font-size-lg;
    }

    .container {
        @extend %flex-style;
    }
    .container-sm {
        @extend %flex-style;
    }
    .container-md {
        @extend %flex-style;
    }
    .container-lg {
        @extend %flex-style;
    }
    .container-xl {
        @extend %flex-style;
    }
    .container-xxl {
        @extend %flex-style;
    }
}

@each $key ,$val in $colors {
    .navber-#{$key} {
        @extend .navbar ;
        background-color: $val;
    }
}