%flex-style{
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    @include xs {
        flex-direction: column;
        align-items: flex-start;
    }
    @include md {
        flex-direction: row;
        align-items: center;

    }
}

.navbar {
    @extend %flex-style;
    padding: $base-padding $base-padding * 2;
    box-shadow: $base-box-shadow;
    position: relative;
    .nav-brand {
        @include xs {
            font-size: $font-size-sm;
        }
        @include sm {
            font-size: $font-size-md;
        }
        @include md {
            font-size: $font-size-lg;
        }
        font-weight: bold;
    }
    .active {
        display: flex !important;
    }
    .nav-links{
        @include mmd {
            display: none;
            width: 100%;
        }
        height: 100%;

        ul {
            @include mmd {
                width: 100%;
                flex-direction: column;
            }
            display: flex;
            margin: 0;
            padding: 0;

            li {
                @include mmd {
                    text-align: center;
                }
                list-style: none;
                font-size: $base-font-size;
                a {
                    @include mmd {
                        padding: .5rem 1rem;
                    }
                    display: block;
                    text-decoration: none;
                    color: black;
                    padding: 1rem;
                    cursor: pointer;
                }
    
                &:hover {
                    background-color: $faded;
                }
            }
        }
    }
    .toggle-button {
        @include xs {
            display: flex;
        }
        @include md {
            display: none;
        }
        position: absolute;
        top: 1.2rem;
        cursor: pointer;
        right: 1rem;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;


    }
    .toggle-button span {
        height: 3px;
        width: 100%;
        background-color: black;
        border-radius: 10px;
    }

    .container {
        @extend %flex-style;
    }
    .container-sm {
        @extend %flex-style;
    }
    .container-md {
        @extend %flex-style;
    }
    .container-lg {
        @extend %flex-style;
    }
    .container-xl {
        @extend %flex-style;
    }
    .container-xxl {
        @extend %flex-style;
    }
}

@each $key ,$val in $colors {
    .navbar-#{$key} {
        @extend .navbar ;
        background-color: $val;
    }
}