$utilities : (
    "u1" : (
        "property" : "padding",
        "prefix" : "p",
        "values" : (
            "0" : 0,
            "1" : $base-padding ,
            "2" : $base-padding * 2 ,
            "3" : $base-padding * 4 ,
            "4" : $base-padding * 6 ,
            "5" : $base-padding * 8 ,
        ),
    ),
    "u2" : (
        "property" : "padding-left",
        "prefix" : "ps",
        "values" : (
            "0" : 0,
            "1" : $base-padding ,
            "2" : $base-padding * 2 ,
            "3" : $base-padding * 4 ,
            "4" : $base-padding * 6 ,
            "5" : $base-padding * 8 ,
        ),
    ),
    "u3" : (
        "property" : "padding-right",
        "prefix" : "pe",
        "values" : (
            "0" : 0,
            "1" : $base-padding ,
            "2" : $base-padding * 2 ,
            "3" : $base-padding * 4 ,
            "4" : $base-padding * 6 ,
            "5" : $base-padding * 8 ,
        ),
    ),
    "u4" : (
        "property" : "padding-top",
        "prefix" : "pt",
        "values" : (
            "0" : 0,
            "1" : $base-padding ,
            "2" : $base-padding * 2 ,
            "3" : $base-padding * 4 ,
            "4" : $base-padding * 6 ,
            "5" : $base-padding * 8 ,
        ),
    ),
    "u5" : (
        "property" : "padding-bottom",
        "prefix" : "pb",
        "values" : (
            "0" : 0,
            "1" : $base-padding ,
            "2" : $base-padding * 2 ,
            "3" : $base-padding * 4 ,
            "4" : $base-padding * 6 ,
            "5" : $base-padding * 8 ,
        ),
    ),
    "u6" : (
        "property" : "padding",
        "prefix" : "px",
        "values" : (
            "0" : 0,
            "1" : 0 $base-padding ,
            "2" : 0 $base-padding * 2 ,
            "3" : 0 $base-padding * 4 ,
            "4" : 0 $base-padding * 6 ,
            "5" : 0 $base-padding * 8 ,
        ),
    ),
    "u7" : (
        "property" : "padding",
        "prefix" : "py",
        "values" : (
            "0" : 0,
            "1" : $base-padding 0 ,
            "2" : $base-padding * 2  0,
            "3" : $base-padding * 4  0,
            "4" : $base-padding * 6  0,
            "5" : $base-padding * 8  0,
        ),
    ),
    "u8" : (
        "property" : "margin",
        "prefix" : "m",
        "values" : (
            "0" : 0,
            "1" : $base-margin ,
            "2" : $base-margin * 2 ,
            "3" : $base-margin * 4 ,
            "4" : $base-margin * 6 ,
            "5" : $base-margin * 8 ,
        ),
    ),
    "u9" : (
        "property" : "margin-left",
        "prefix" : "ms",
        "values" : (
            "0" : 0,
            "1" : $base-margin ,
            "2" : $base-margin * 2 ,
            "3" : $base-margin * 4 ,
            "4" : $base-margin * 6 ,
            "5" : $base-margin * 8 ,
        ),
    ),
    "u10" : (
        "property" : "margin-right",
        "prefix" : "me",
        "values" : (
            "0" : 0,
            "1" : $base-margin ,
            "2" : $base-margin * 2 ,
            "3" : $base-margin * 4 ,
            "4" : $base-margin * 6 ,
            "5" : $base-margin * 8 ,
        ),
    ),
    "u11" : (
        "property" : "margin-top",
        "prefix" : "mt",
        "values" : (
            "0" : 0,
            "1" : $base-margin ,
            "2" : $base-margin * 2 ,
            "3" : $base-margin * 4 ,
            "4" : $base-margin * 6 ,
            "5" : $base-margin * 8 ,
        ),
    ),
    "u12" : (
        "property" : "margin-bottom",
        "prefix" : "mb",
        "values" : (
            "0" : 0,
            "1" : $base-margin ,
            "2" : $base-margin * 2 ,
            "3" : $base-margin * 4 ,
            "4" : $base-margin * 6 ,
            "5" : $base-margin * 8 ,
        ),
    ),
    "u13" : (
        "property" : "margin",
        "prefix" : "mx",
        "values" : (
            "0" : 0,
            "1" : 0 $base-margin ,
            "2" : 0 $base-margin * 2 ,
            "3" : 0 $base-margin * 4 ,
            "4" : 0 $base-margin * 6 ,
            "5" : 0 $base-margin * 8 ,
        ),
    ),
    "u14" : (
        "property" : "margin",
        "prefix" : "my",
        "values" : (
            "0" : 0,
            "1" : $base-margin 0 ,
            "2" : $base-margin * 2  0,
            "3" : $base-margin * 4  0,
            "4" : $base-margin * 6  0,
            "5" : $base-margin * 8  0,
        ),
    ),
    "u15" : (
        "property" : "opacity",
        "prefix" : "o",
        "values" : (
            "10" : 0.1,
            "20" : 0.2 ,
            "30" : 0.3,
            "40" : 0.4,
            "50" : 0.5,
            "60" : 0.6,
            "70" : 0.7 ,
            "80" : 0.8,
            "90" : 0.9,
            "100" : 1,
        ),
    ),
    "u16" : (
        "property" : "font-size",
        "prefix" : "fs",
        "values" : (
            "sm" : $font-size-sm,
            "md" : $base-font-size ,
            "lg" : $font-size-lg,
            "xl" : $font-size-xl,
            "xxl" : $font-size-xxl,
        ),
    ),
    "u17" : (
        "property" : "text-align",
        "prefix" : "text",
        "values" : (
            "center" : center,
            "end" : right ,
            "start" : left,
        ),
    ),
    "u18" : (
        "property" : "display",
        "prefix" : "display",
        "values" : (
            "f" : flex,
            "b" : block ,
            "ib" : inline-block,
            "i": inline,
            "n" : none,
        ),
    ),
    "u19" : (
        "property" : "width",
        "prefix" : "w",
        "values" : (
            "full" : 100%,
            "half" : 50% ,
            "25" : 25%,
            "75": 75%,
        ),
    ),
    "u20" : (
        "property" : "border-style",
        "prefix" : "bs",
        "values" : (
            "solid" : solid,
            "dashed" : dashed ,
            "dotted" : dotted,
            "none": none,
        ),
    ),
    "u21" : (
        "property" : "border-width",
        "prefix" : "bw",
        "values" : (
            "0" : 0,
            "1" : 1px ,
            "2" : 2px,
            "3": 3px,
            "4" : 4px,
            "5" : 5px,
        ),
    ),
    "u22" : (
        "property" : "border-color",
        "prefix" : "bc",
        "values" : (
            "primary" : $primary ,
            "secondary" : $secondary,
            "success" : $success,
            "warning" : $warning,
            "danger" : $danger,
            "faded" : $faded,
            "dark" : $dark,
            "green": #19e635,
            "orange": #ffa600,
            "purple": #9900ff,
            "gray": #808080,
            "white" : white,
            "black" : black,
        ),
    ),
    "u23" : (
        "property" : "border-radius",
        "prefix" : "br",
        "values" : (
            "0" : 0,
            "1" : 10px,
            "2" : 20px ,
            "3" : 30px,
            "4": 40px,
            "5" : 50px,

        ),
    ),
    "u24" : (
        "property" : "font-style",
        "prefix" : "fs",
        "values" : (
            "italic" : italic,
            "oblique" : oblique,
            "normal" : normal ,
            "initial" : initial,
        ),
    ),
    "u25" : (
        "property" : "font-weight",
        "prefix" : "fw",
        "values" : (
            "light" : light,
            "bold" : bold,
            "normal" : normal,
        ),
    ),
);

// header tags 

$headers : (
    "h1" : 2em ,
    "h2" : 1.5em,
    "h3" : 1.17em,
    "h4" : 1em ,
    "h5" : 0.83em ,
    "h6" : 0.67em,
);

@each $key, $val in $headers {
    .#{$key} {
        font-size: $val;
        font-weight: bold;
    }
}

// looping through maps ...

@each $u , $map in $utilities {
    $property : map-get($map , "property");
    $prefix : map-get($map , "prefix");
    $values : map-get($map, "values");

    @each $k , $v in $values {
        
        .#{$prefix}-#{$k} {
            #{$property} : $v 
        }
    }
}

@include xs {
    @each $u , $map in $utilities {
        $property : map-get($map , "property");
        $prefix : map-get($map , "prefix");
        $values : map-get($map, "values");
    
        @each $k , $v in $values {
            
            .#{$prefix}-#{$k}-xs {
                #{$property} : $v 
            }
        }
    }
    @each $key, $val in $headers {
        .#{$key}-xs {
            font-size: $val;
            font-weight: bold;
        }
    }
}
@include sm {
    @each $u , $map in $utilities {
        $property : map-get($map , "property");
        $prefix : map-get($map , "prefix");
        $values : map-get($map, "values");
    
        @each $k , $v in $values {
            
            .#{$prefix}-#{$k}-sm {
                #{$property} : $v 
            }
        }
    }
    @each $key, $val in $headers {
        .#{$key}-sm {
            font-size: $val;
            font-weight: bold;
        }
    }
}
@include md {
    @each $u , $map in $utilities {
        $property : map-get($map , "property");
        $prefix : map-get($map , "prefix");
        $values : map-get($map, "values");
    
        @each $k , $v in $values {
            
            .#{$prefix}-#{$k}-md {
                #{$property} : $v 
            }
        }
    }
    @each $key, $val in $headers {
        .#{$key}-md {
            font-size: $val;
            font-weight: bold;
        }
    }
}
@include lg {
    @each $u , $map in $utilities {
        $property : map-get($map , "property");
        $prefix : map-get($map , "prefix");
        $values : map-get($map, "values");
    
        @each $k , $v in $values {
            
            .#{$prefix}-#{$k}-lg {
                #{$property} : $v 
            }
        }
    }
    @each $key, $val in $headers {
        .#{$key}-lg {
            font-size: $val;
            font-weight: bold;
        }
    }
}
@include xl {
    @each $u , $map in $utilities {
        $property : map-get($map , "property");
        $prefix : map-get($map , "prefix");
        $values : map-get($map, "values");
    
        @each $k , $v in $values {
            
            .#{$prefix}-#{$k}-xl {
                #{$property} : $v 
            }
        }
    }
    @each $key, $val in $headers {
        .#{$key}-xl {
            font-size: $val;
            font-weight: bold;
        }
    }
}
@include xxl {
    @each $u , $map in $utilities {
        $property : map-get($map , "property");
        $prefix : map-get($map , "prefix");
        $values : map-get($map, "values");
    
        @each $k , $v in $values {
            
            .#{$prefix}-#{$k}-xxl {
                #{$property} : $v 
            }
        }
    }
    @each $key, $val in $headers {
        .#{$key}-xxl {
            font-size: $val;
            font-weight: bold;
        }
    }
}